n8n_workflow_real_estate_agent_template.json
{
  "name": "GoDubai Real Estate AI Sales Agent",
  "nodes": [
    {
      "id": "re-n3-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "re-ai-demo-milestone-3",
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-agent-chat",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "re-n3-002",
      "name": "Extract Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst clientId = body.client_id || body.client || 'godubai';\n\nreturn {\n  clientId: 'godubai',\n  sessionId: body.session_id || ('sess_' + Date.now()),\n  userMessage: body.user_message || '',\n  messageHistory: Array.isArray(body.message_history) ? body.message_history : [],\n  currentLead: body.current_lead || {},\n  currentLeadCapture: body.current_lead_capture || {},\n  lastProperties: Array.isArray(body.last_properties) ? body.last_properties : [],\n  timestamp: new Date().toISOString()\n};"
      }
    },
    {
      "id": "re-n3-003",
      "name": "Build Extraction Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst history = d.messageHistory || [];\nconst userMsg = d.userMessage || '';\nconst clientConfig = d.clientConfig || {};\n\nconst histLines = history\n  .filter(function(m) { return !(m.role === 'user' && m.content === userMsg); })\n  .map(function(m) { return (m.role === 'user' ? 'Customer: ' : 'Assistant: ') + m.content; })\n  .join('\\n');\n\nconst system = 'You are a precise real estate CRM extraction engine. Return one valid JSON object only. No markdown. No commentary.';\nconst prompt = 'Extract structured lead data for this real estate sales demo.\\n\\n'\n  + 'CLIENT CONTEXT:\\n'\n  + 'Company: ' + (clientConfig.companyName || 'GoDubai Portal') + '\\n'\n  + 'Market: ' + (clientConfig.market || 'Dubai & UAE') + '\\n'\n  + 'Service Areas: ' + ((clientConfig.serviceAreas || []).join(', ')) + '\\n\\n'\n  + 'Conversation history:\\n' + (histLines || '(start of conversation)')\n  + '\\n\\nLatest customer message: ' + userMsg + '\\n\\n'\n  + 'Previously captured qualifications: ' + JSON.stringify(d.currentLead || {}) + '\\n'\n  + 'Previously captured contact details: ' + JSON.stringify(d.currentLeadCapture || {}) + '\\n\\n'\n  + 'Return ONLY this JSON shape. Use null for unknown scalar values and empty string for unknown contact text fields:\\n'\n  + '{\\n'\n  + '  \"intent\": \"buy\" | \"rent\" | \"sell\" | \"invest\" | null,\\n'\n  + '  \"city\": string | null,\\n'\n  + '  \"area\": string | null,\\n'\n  + '  \"budget_max\": number | null,\\n'\n  + '  \"bedrooms_min\": number | null,\\n'\n  + '  \"timeline\": string | null,\\n'\n  + '  \"deal_type\": \"sale\" | \"rent\" | null,\\n'\n  + '  \"needs_property_search\": boolean,\\n'\n  + '  \"latest_message_action\": \"new_search\" | \"refine_search\" | \"property_followup\" | \"booking_request\" | \"contact_details_provided\" | \"preferred_time_provided\" | \"seller_request\" | \"broker_leads_request\" | \"general_question\" | \"out_of_scope\" | \"unclear\",\\n'\n  + '  \"customer_name\": string,\\n'\n  + '  \"phone\": string,\\n'\n  + '  \"email\": string,\\n'\n  + '  \"requested_action\": \"more_details\" | \"schedule_viewing\" | \"speak_to_agent\" | \"valuation_request\" | \"shortlist_request\" | \"broker_leads_request\" | \"general_question\" | \"\",\\n'\n  + '  \"selected_property_reference\": string,\\n'\n  + '  \"preferred_date_time\": string,\\n'\n  + '  \"search_reason\": string\\n'\n  + '}\\n\\n'\n  + 'EXTRACTION RULES:\\n'\n  + '1. deal_type is sale for buy/invest/off-plan purchase, rent for rent.\\n'\n  + '2. needs_property_search = true only when enough criteria exist for a useful search and latest action is new_search/refine_search.\\n'\n  + '3. Dubai off-plan, investment plan, Golden Visa property search, shortlist, project comparison, and recommendations count as invest or buy depending on wording.\\n'\n  + '4. Broker lead/subscription questions are broker_leads_request and should not trigger property search unless the user also asks for properties.\\n'\n  + '5. If visitor asks to view/visit/book/call/schedule, requested_action=schedule_viewing or speak_to_agent as appropriate.\\n'\n  + '6. If visitor asks for a shortlist or project recommendations, requested_action=shortlist_request.\\n'\n  + '7. If visitor provides name, phone, WhatsApp, or email, latest_message_action=contact_details_provided.\\n'\n  + '8. If visitor asks for legal, tax, mortgage, Golden Visa approval, or guaranteed ROI advice, classify as general_question.\\n'\n  + '9. Preserve previously captured values unless the latest message clearly changes them.';\n\nconst reqBody = {\n  model: 'gpt-5.4-mini',\n  reasoning: { effort: 'none' },\n  max_output_tokens: 500,\n  text: { format: { type: 'json_object' } },\n  input: [\n    { role: 'system', content: system },\n    { role: 'user', content: prompt }\n  ]\n};\n\nreturn {\n  openaiRequestBody: JSON.stringify(reqBody),\n  sessionId: d.sessionId, userMessage: d.userMessage, messageHistory: d.messageHistory,\n  currentLead: d.currentLead, currentLeadCapture: d.currentLeadCapture, timestamp: d.timestamp,\n  clientId: d.clientId, clientConfig: d.clientConfig\n};"
      }
    },
    {
      "id": "re-n3-004",
      "name": "OpenAI Extract Criteria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.openaiRequestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "wKhpf0p1xu7ZFK9G",
          "name": "OpenAI account"
        }
      },
      "notes": "Uses gpt-5.4-mini via OpenAI Responses API for fast structured lead extraction."
    },
    {
      "id": "re-n3-005",
      "name": "Parse Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const openaiRes = $input.first().json;\nconst ctx = $('Build Extraction Prompt').first().json;\nfunction getOpenAIText(res) {\n  if (typeof res.output_text === 'string') return res.output_text;\n  if (Array.isArray(res.output)) return res.output.map(function(item) { return (item.content || []).map(function(c) { return c.text || ''; }).join(''); }).join('');\n  if (Array.isArray(res.choices)) return res.choices.map(function(c) { return (c.message && c.message.content) || c.text || ''; }).join('');\n  return '';\n}\nconst tick3 = String.fromCharCode(96) + String.fromCharCode(96) + String.fromCharCode(96);\nconst text = getOpenAIText(openaiRes);\nlet raw = {};\ntry {\n  const cleaned = text.replace(new RegExp(tick3 + 'json\\\\s*', 'gi'), '').replace(new RegExp(tick3 + '\\\\s*', 'g'), '').trim();\n  raw = JSON.parse(cleaned);\n} catch(e) { raw = { needs_property_search: false, search_reason: 'openai_json_parse_error_fallback' }; }\nconst cl = ctx.currentLead || {}; const clc = ctx.currentLeadCapture || {};\nconst criteria = {\n  intent: (raw.intent != null && raw.intent !== '') ? raw.intent : (cl.intent || null),\n  city: (raw.city != null && raw.city !== '') ? raw.city : (cl.city || null),\n  area: (raw.area != null && raw.area !== '') ? raw.area : null,\n  budget_max: (raw.budget_max != null && raw.budget_max > 0) ? raw.budget_max : (cl.budget || null),\n  bedrooms_min: (raw.bedrooms_min != null && raw.bedrooms_min > 0) ? raw.bedrooms_min : (cl.bedrooms != null ? cl.bedrooms : null),\n  timeline: (raw.timeline != null && raw.timeline !== '') ? raw.timeline : (cl.timeline || null),\n  deal_type: (raw.deal_type != null && raw.deal_type !== '') ? raw.deal_type : null,\n  needs_property_search: raw.needs_property_search === true,\n  search_reason: raw.search_reason || ''\n};\nconst name = (raw.customer_name != null && raw.customer_name !== '') ? raw.customer_name : (clc.name || null);\nconst phone = (raw.phone != null && raw.phone !== '') ? raw.phone : (clc.phone || null);\nconst email = (raw.email != null && raw.email !== '') ? raw.email : (clc.email || null);\nconst requested_action = (raw.requested_action != null && raw.requested_action !== '') ? raw.requested_action : (clc.requested_action || null);\nconst selected_property_reference = (raw.selected_property_reference != null && raw.selected_property_reference !== '') ? raw.selected_property_reference : (clc.selected_property_id || null);\nconst preferred_date_time = (raw.preferred_date_time != null && raw.preferred_date_time !== '') ? raw.preferred_date_time : (clc.preferred_date_time || null);\nlet capture_status = clc.capture_status || 'not_started';\nif (requested_action === 'schedule_viewing' || requested_action === 'shortlist_request') {\n  if (!name || (!phone && !email)) capture_status = 'waiting_for_contact';\n  else if (!preferred_date_time && requested_action === 'schedule_viewing') capture_status = 'waiting_for_time';\n  else capture_status = 'contact_captured';\n} else if (requested_action === 'speak_to_agent' || requested_action === 'valuation_request' || requested_action === 'broker_leads_request') {\n  if (!name || (!phone && !email)) capture_status = 'waiting_for_contact'; else capture_status = 'contact_captured';\n} else if (name && (phone || email)) capture_status = 'contact_captured';\nconst hasContact = phone || email;\nconst isSeriousAction = requested_action === 'schedule_viewing' || requested_action === 'speak_to_agent' || requested_action === 'valuation_request' || requested_action === 'shortlist_request' || requested_action === 'broker_leads_request';\nconst should_save_lead = hasContact && isSeriousAction && clc.save_status !== 'saved';\nreturn {\n  criteria: criteria,\n  leadCapture: { name: name, phone: phone, email: email, requested_action: requested_action, selected_property_id: selected_property_reference, preferred_date_time: preferred_date_time, capture_status: capture_status, should_save_lead: should_save_lead, save_status: clc.save_status || 'not_saved' },\n  sessionId: ctx.sessionId, userMessage: ctx.userMessage, messageHistory: ctx.messageHistory, currentLead: ctx.currentLead, currentLeadCapture: ctx.currentLeadCapture, timestamp: ctx.timestamp, clientId: ctx.clientId, clientConfig: ctx.clientConfig\n};"
      }
    },
    {
      "id": "re-n3-006",
      "name": "IF Should Search",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-search-check",
              "leftValue": "={{ $json.criteria.needs_property_search }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "re-n3-007",
      "name": "Google Sheets Get Properties",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1300,
        160
      ],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GODUBAI_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Resolve Client Config').first().json.clientConfig.propertiesSheet }}",
          "mode": "name"
        },
        "filtersUI": {},
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pDflFk17VYvhglIC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "re-n3-008",
      "name": "Filter Properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(function(i) { return i.json; });\nconst pd = $('Parse Extraction').first().json;\nconst c = pd.criteria;\n\nfunction toNum(v) {\n  if (v == null || v === '') return null;\n  const x = parseFloat(String(v).replace(/[^0-9.-]/g, ''));\n  return isNaN(x) ? null : x;\n}\n\nconst filtered = rows.filter(function(r) {\n  if (String(r.availability || '').toLowerCase().trim() !== 'available') return false;\n  if (c.deal_type) {\n    if (String(r.deal_type || '').toLowerCase().trim() !== c.deal_type.toLowerCase()) return false;\n  }\n  if (c.city) {\n    const rc = String(r.city || '').toLowerCase();\n    const cc = c.city.toLowerCase();\n    if (!rc.includes(cc) && !cc.includes(rc)) return false;\n  }\n  if (c.area) {\n    const ra = String(r.area || '').toLowerCase();\n    if (!ra.includes(c.area.toLowerCase())) return false;\n  }\n  if (c.bedrooms_min != null) {\n    const rb = toNum(r.bedrooms);\n    if (rb == null || rb < Number(c.bedrooms_min)) return false;\n  }\n  if (c.budget_max != null) {\n    const bgt = toNum(c.budget_max);\n    if (bgt != null) {\n      if (c.deal_type === 'rent') {\n        const mp = toNum(r.price_per_month);\n        if (mp != null && mp > bgt) return false;\n      } else {\n        const sp = toNum(r.price);\n        if (sp != null && sp > bgt) return false;\n      }\n    }\n  }\n  return true;\n});\n\nconst scored = filtered.map(function(r) {\n  let s = 0;\n  if (c.city && String(r.city || '').toLowerCase() === c.city.toLowerCase()) s += 10;\n  if (c.area && String(r.area || '').toLowerCase().includes(c.area.toLowerCase())) s += 5;\n  if (c.budget_max) {\n    const bgt = toNum(c.budget_max);\n    const price = c.deal_type === 'rent' ? toNum(r.price_per_month) : toNum(r.price);\n    if (bgt && price != null && price <= bgt) s += Math.round((1 - price / bgt) * 5);\n  }\n  if (c.intent === 'invest') {\n    const yld = toNum(r.investment_yield_pct);\n    if (yld) s += Math.round(yld * 2);\n  }\n  return Object.assign({}, r, { _score: s });\n});\n\nconst top3 = scored.sort(function(a, b) { return b._score - a._score; }).slice(0, 3);\n\nconst properties = top3.map(function(r) {\n  return {\n    property_id:          String(r.property_id || ''),\n    title:                String(r.title || ''),\n    deal_type:            String(r.deal_type || ''),\n    city:                 String(r.city || ''),\n    area:                 String(r.area || ''),\n    price:                toNum(r.price),\n    price_per_month:      toNum(r.price_per_month),\n    currency:             String(r.currency || 'EUR'),\n    bedrooms:             toNum(r.bedrooms) != null ? toNum(r.bedrooms) : 0,\n    bathrooms:            toNum(r.bathrooms) != null ? toNum(r.bathrooms) : 0,\n    size_sqm:             toNum(r.size_sqm) != null ? toNum(r.size_sqm) : 0,\n    features:             String(r.features || ''),\n    description:          String(r.description || ''),\n    image_url:            String(r.image_url || ''),\n    availability:         String(r.availability || ''),\n    investment_yield_pct: toNum(r.investment_yield_pct)\n  };\n});\n\nreturn {\n  properties:      properties,\n  propertiesFound: properties.length > 0,\n  propertyCount:   properties.length,\n  criteria:        pd.criteria,\n  leadCapture:     pd.leadCapture,\n  sessionId:       pd.sessionId,\n  userMessage:     pd.userMessage,\n  messageHistory:  pd.messageHistory,\n  currentLead:     pd.currentLead,\n  currentLeadCapture: pd.currentLeadCapture,\n  timestamp:       pd.timestamp,\n  clientId:        pd.clientId,\n  clientConfig:    pd.clientConfig\n};"
      }
    },
    {
      "id": "re-n3-009",
      "name": "Build Messages With Properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst history = d.messageHistory || [];\nconst props = d.properties || [];\nconst clientConfig = d.clientConfig || { companyName: 'GoDubai Portal', assistantName: 'Sofia', market: 'Dubai & UAE', websiteUrl: 'https://www.godubai.estate/', serviceAreas: ['Dubai', 'UAE', 'Business Bay', 'Dubai South', 'Dubai Design District (D3)', 'Jumeirah Village Circle (JVC)', 'Dubailand', 'Yas Island'], companyStrengths: ['verified Dubai and UAE off-plan project listings', 'personalized Dubai investment plan flow', 'support for brokers, investors, and property buyers', 'human-verified exclusive real estate leads for brokers', 'fast support and sales follow-up'] };\nconst companyContext = 'COMPANY CONTEXT:\\n' + 'Company Name: ' + clientConfig.companyName + '\\n' + 'Market: ' + clientConfig.market + '\\n' + 'Website: ' + clientConfig.websiteUrl + '\\n' + 'Service Areas: ' + (clientConfig.serviceAreas || []).join(', ') + '\\n' + 'Company Strengths: ' + (clientConfig.companyStrengths || []).join(', ');\nconst SYSTEM = 'You are ' + clientConfig.assistantName + ', the AI real estate sales consultant for ' + clientConfig.companyName + '.\\n\\n' + companyContext + '\\n\\nSALES MISSION:\\n- Act like a sharp, warm, consultative real estate sales assistant.\\n- Qualify the visitor naturally: goal, location, property type, budget, timeline, and contact readiness.\\n- Recommend the strongest factual match first when properties are available. Explain why it fits using exact listing facts.\\n- Guide serious visitors toward the next step: viewing, project shortlist, valuation request, broker lead subscription discussion, or speaking with the team.\\n- Use confident but honest language. Make the next step feel easy and valuable.\\n\\nSTRICT RULES:\\n- English only unless the customer writes in another language; then mirror their language.\\n- Keep replies concise: 2 short paragraphs max, then one clear question or next step.\\n- Ask maximum 2 questions per message.\\n- Persuade only with facts from PROPERTY CONTEXT, COMPANY CONTEXT, or conversation history.\\n- If asked whether you are AI, say: I am an AI property assistant for ' + clientConfig.companyName + ', here to help qualify your needs and connect you with the team.\\n- If the visitor shows serious intent, ask for name and phone/email/WhatsApp if missing.\\n- Do not claim a viewing, shortlist, ROI, Golden Visa, price, availability, or call is confirmed until the team confirms it.\\n- NEVER invent property details, company claims, market data, urgency, legal/tax/mortgage/Golden Visa approval advice, or guaranteed returns.\\n' + (true ? '- ONLY recommend properties that appear in PROPERTY CONTEXT. If no matches were found, suggest a realistic adjustment.\\n' : '- No fresh property search has run. Ask qualifying questions or answer follow-up using last shown properties only.\\n') + '- For investment language, say may fit, worth reviewing, or could be suitable instead of guarantees.';\nfunction fmtProp(p) { const price = p.deal_type === 'rent' ? 'EUR ' + (p.price_per_month || 0) + '/month' : 'EUR ' + (p.price || 0).toLocaleString('en-EU'); return '[' + p.property_id + '] ' + p.title + '\\nLocation: ' + p.area + ', ' + p.city + ' | Price: ' + price + '\\nBedrooms: ' + p.bedrooms + ' | Size: ' + p.size_sqm + 'm2' + '\\nFeatures: ' + p.features + '\\nDescription: ' + p.description + (p.investment_yield_pct ? '\\nInvestment yield: ' + p.investment_yield_pct + '%' : ''); }\nconst propContext = props.length > 0 ? '[PROPERTY CONTEXT - START]\\nFound matching properties in the database:\\n\\n' + props.map(fmtProp).join('\\n\\n---\\n\\n') + '\\n[PROPERTY CONTEXT - END]\\n\\nRecommend the strongest fit first and explain why using only the facts above.' : '[PROPERTY CONTEXT - START]\\nNo properties matched the customer criteria.\\n[PROPERTY CONTEXT - END]\\n\\nBe honest that no match was found. Suggest adjusting budget, property type, bedrooms, or location. Do NOT invent properties.';\nconst histWithoutLast = history.length > 0 ? history.slice(0, -1) : [];\nconst messages = histWithoutLast.concat([{ role: 'user', content: d.userMessage + '\\n\\n' + propContext }]);\nconst reqBody = { model: 'gpt-5.5', reasoning: { effort: 'low' }, max_output_tokens: 900, instructions: SYSTEM, input: messages.map(function(m) { return { role: m.role, content: m.content }; }) };\nreturn { openaiRequestBody: JSON.stringify(reqBody), properties: d.properties, propertiesFound: d.propertiesFound, propertyCount: d.propertyCount, criteria: d.criteria, leadCapture: d.leadCapture, sessionId: d.sessionId, userMessage: d.userMessage, messageHistory: d.messageHistory, currentLead: d.currentLead, currentLeadCapture: d.currentLeadCapture, timestamp: d.timestamp, clientId: d.clientId, clientConfig: d.clientConfig };"
      }
    },
    {
      "id": "re-n3-010",
      "name": "Build Messages No Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        440
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst history = d.messageHistory || [];\nconst lastProps = $('Resolve Client Config').first().json.lastProperties || [];\nconst props = lastProps;\nconst clientConfig = d.clientConfig || { companyName: 'GoDubai Portal', assistantName: 'Sofia', market: 'Dubai & UAE', websiteUrl: 'https://www.godubai.estate/', serviceAreas: ['Dubai', 'UAE', 'Business Bay', 'Dubai South', 'Dubai Design District (D3)', 'Jumeirah Village Circle (JVC)', 'Dubailand', 'Yas Island'], companyStrengths: ['verified Dubai and UAE off-plan project listings', 'personalized Dubai investment plan flow', 'support for brokers, investors, and property buyers', 'human-verified exclusive real estate leads for brokers', 'fast support and sales follow-up'] };\nconst companyContext = 'COMPANY CONTEXT:\\n' + 'Company Name: ' + clientConfig.companyName + '\\n' + 'Market: ' + clientConfig.market + '\\n' + 'Website: ' + clientConfig.websiteUrl + '\\n' + 'Service Areas: ' + (clientConfig.serviceAreas || []).join(', ') + '\\n' + 'Company Strengths: ' + (clientConfig.companyStrengths || []).join(', ');\nconst SYSTEM = 'You are ' + clientConfig.assistantName + ', the AI real estate sales consultant for ' + clientConfig.companyName + '.\\n\\n' + companyContext + '\\n\\nSALES MISSION:\\n- Act like a sharp, warm, consultative real estate sales assistant.\\n- Qualify the visitor naturally: goal, location, property type, budget, timeline, and contact readiness.\\n- Recommend the strongest factual match first when properties are available. Explain why it fits using exact listing facts.\\n- Guide serious visitors toward the next step: viewing, project shortlist, valuation request, broker lead subscription discussion, or speaking with the team.\\n- Use confident but honest language. Make the next step feel easy and valuable.\\n\\nSTRICT RULES:\\n- English only unless the customer writes in another language; then mirror their language.\\n- Keep replies concise: 2 short paragraphs max, then one clear question or next step.\\n- Ask maximum 2 questions per message.\\n- Persuade only with facts from PROPERTY CONTEXT, COMPANY CONTEXT, or conversation history.\\n- If asked whether you are AI, say: I am an AI property assistant for ' + clientConfig.companyName + ', here to help qualify your needs and connect you with the team.\\n- If the visitor shows serious intent, ask for name and phone/email/WhatsApp if missing.\\n- Do not claim a viewing, shortlist, ROI, Golden Visa, price, availability, or call is confirmed until the team confirms it.\\n- NEVER invent property details, company claims, market data, urgency, legal/tax/mortgage/Golden Visa approval advice, or guaranteed returns.\\n' + (false ? '- ONLY recommend properties that appear in PROPERTY CONTEXT. If no matches were found, suggest a realistic adjustment.\\n' : '- No fresh property search has run. Ask qualifying questions or answer follow-up using last shown properties only.\\n') + '- For investment language, say may fit, worth reviewing, or could be suitable instead of guarantees.';\nfunction fmtProp(p) { const price = p.deal_type === 'rent' ? 'EUR ' + (p.price_per_month || 0) + '/month' : 'EUR ' + (p.price || 0).toLocaleString('en-EU'); return '[' + p.property_id + '] ' + p.title + '\\nLocation: ' + p.area + ', ' + p.city + ' | Price: ' + price + '\\nBedrooms: ' + p.bedrooms + ' | Size: ' + p.size_sqm + 'm2' + '\\nFeatures: ' + p.features + '\\nDescription: ' + p.description + (p.investment_yield_pct ? '\\nInvestment yield: ' + p.investment_yield_pct + '%' : ''); }\nlet messages = history;\nif (lastProps.length > 0) { const propContext = '[LAST SHOWN PROPERTIES CONTEXT - START]\\nThe customer was previously shown the following properties:\\n\\n' + lastProps.map(fmtProp).join('\\n\\n---\\n\\n') + '\\n[LAST SHOWN PROPERTIES CONTEXT - END]\\n\\nYou can answer follow-up questions about these properties using only the details above. Do not show them as property cards again.'; const histWithoutLast = history.length > 0 ? history.slice(0, -1) : []; messages = histWithoutLast.concat([{ role: 'user', content: d.userMessage + '\\n\\n' + propContext }]); }\nconst reqBody = { model: 'gpt-5.5', reasoning: { effort: 'low' }, max_output_tokens: 900, instructions: SYSTEM, input: messages.map(function(m) { return { role: m.role, content: m.content }; }) };\nreturn { openaiRequestBody: JSON.stringify(reqBody), properties: [], propertiesFound: false, propertyCount: 0, criteria: d.criteria, leadCapture: d.leadCapture, sessionId: d.sessionId, userMessage: d.userMessage, messageHistory: d.messageHistory, currentLead: d.currentLead, currentLeadCapture: d.currentLeadCapture, timestamp: d.timestamp, clientId: d.clientId, clientConfig: d.clientConfig };"
      }
    },
    {
      "id": "re-n3-011",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1950,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "re-n3-012",
      "name": "OpenAI Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2150,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.openaiRequestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "wKhpf0p1xu7ZFK9G",
          "name": "OpenAI account"
        }
      },
      "notes": "Uses gpt-5.5 via OpenAI Responses API for high-converting sales replies."
    },
    {
      "id": "re-n3-013",
      "name": "IF Should Save Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2350,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "save-lead-check",
              "leftValue": "={{ $('Merge Paths').first().json.leadCapture.should_save_lead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "re-n3-014",
      "name": "Google Sheets Append Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2550,
        160
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GODUBAI_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Merge Paths').first().json.clientConfig.leadsSheet }}",
          "mode": "name"
        },
        "columnsUI": {
          "columnsValues": [
            {
              "columnName": "lead_id",
              "value": "=lead_{{ Math.random().toString(36).substring(2, 7) }}"
            },
            {
              "columnName": "created_at",
              "value": "={{ $('Merge Paths').first().json.timestamp }}"
            },
            {
              "columnName": "session_id",
              "value": "={{ $('Merge Paths').first().json.sessionId }}"
            },
            {
              "columnName": "name",
              "value": "={{ $('Merge Paths').first().json.leadCapture.name || '' }}"
            },
            {
              "columnName": "phone",
              "value": "={{ $('Merge Paths').first().json.leadCapture.phone || '' }}"
            },
            {
              "columnName": "email",
              "value": "={{ $('Merge Paths').first().json.leadCapture.email || '' }}"
            },
            {
              "columnName": "intent",
              "value": "={{ $('Merge Paths').first().json.criteria.intent || '' }}"
            },
            {
              "columnName": "lead_tier",
              "value": "hot"
            },
            {
              "columnName": "lead_score",
              "value": "75"
            },
            {
              "columnName": "requested_action",
              "value": "={{ $('Merge Paths').first().json.leadCapture.requested_action || '' }}"
            },
            {
              "columnName": "capture_status",
              "value": "saved"
            },
            {
              "columnName": "selected_property_id",
              "value": "={{ $('Merge Paths').first().json.leadCapture.selected_property_id || '' }}"
            },
            {
              "columnName": "selected_property_title",
              "value": "={{ $('Merge Paths').first().json.leadCapture.selected_property_title || '' }}"
            },
            {
              "columnName": "city",
              "value": "={{ $('Merge Paths').first().json.criteria.city || '' }}"
            },
            {
              "columnName": "area",
              "value": "={{ $('Merge Paths').first().json.criteria.area || '' }}"
            },
            {
              "columnName": "budget",
              "value": "={{ $('Merge Paths').first().json.criteria.budget_max || '' }}"
            },
            {
              "columnName": "bedrooms",
              "value": "={{ $('Merge Paths').first().json.criteria.bedrooms_min || '' }}"
            },
            {
              "columnName": "timeline",
              "value": "={{ $('Merge Paths').first().json.criteria.timeline || '' }}"
            },
            {
              "columnName": "preferred_date_time",
              "value": "={{ $('Merge Paths').first().json.leadCapture.preferred_date_time || '' }}"
            },
            {
              "columnName": "conversation_summary",
              "value": "=Lead interested in {{ $('Merge Paths').first().json.criteria.intent || 'property' }} in {{ $('Merge Paths').first().json.criteria.city || 'Dubai' }}"
            },
            {
              "columnName": "source",
              "value": "real_estate_demo"
            },
            {
              "columnName": "status",
              "value": "new"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pDflFk17VYvhglIC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "re-n3-015",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2750,
        160
      ],
      "parameters": {
        "chatId": "={{ $('Merge Paths').first().json.clientConfig.telegramChatId || 'REPLACE_TELEGRAM_CHAT_ID' }}",
        "text": "=New Real Estate Lead - {{ $('Merge Paths').first().json.clientConfig.companyName }}\n\nName: {{ $('Merge Paths').first().json.leadCapture.name || 'Not provided' }}\nPhone: {{ $('Merge Paths').first().json.leadCapture.phone || 'Not provided' }}\nEmail: {{ $('Merge Paths').first().json.leadCapture.email || 'Not provided' }}\n\nIntent: {{ $('Merge Paths').first().json.criteria.intent ? $('Merge Paths').first().json.criteria.intent.toUpperCase() : 'Not provided' }}\nAction: {{ $('Merge Paths').first().json.leadCapture.requested_action ? $('Merge Paths').first().json.leadCapture.requested_action.replace('_', ' ') : 'None' }}\nProperty Reference: {{ $('Merge Paths').first().json.leadCapture.selected_property_id || 'None' }}\nCity: {{ $('Merge Paths').first().json.criteria.city || 'Not provided' }}\nBudget: {{ $('Merge Paths').first().json.criteria.budget_max ? 'EUR ' + Number($('Merge Paths').first().json.criteria.budget_max).toLocaleString() : 'Not provided' }}\nLead Tier: Hot\n\nPreferred Time: {{ $('Merge Paths').first().json.leadCapture.preferred_date_time || 'Waiting for customer' }}\nClient ID: {{ $('Merge Paths').first().json.clientId }}\nSession: {{ $('Merge Paths').first().json.sessionId }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT_CREDENTIAL",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "re-n3-016",
      "name": "Assemble Final JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const openaiRes = $('OpenAI Generate Reply').first().json;\nconst md = $('Merge Paths').first().json;\nconst savedNodeResult = $('IF Should Save Lead').first().json;\nconst hasBeenSaved = savedNodeResult.conditions?.save_lead_check === true || md.leadCapture.save_status === 'saved';\nfunction getOpenAIText(res) { if (typeof res.output_text === 'string') return res.output_text; if (Array.isArray(res.output)) return res.output.map(function(item) { return (item.content || []).map(function(c) { return c.text || ''; }).join(''); }).join(''); if (Array.isArray(res.choices)) return res.choices.map(function(c) { return (c.message && c.message.content) || c.text || ''; }).join(''); return ''; }\nconst reply = getOpenAIText(openaiRes).replace(/\\[PROPERTY CONTEXT - START\\][\\s\\S]*?\\[PROPERTY CONTEXT - END\\]/g, '').replace(/\\[LAST SHOWN PROPERTIES CONTEXT - START\\][\\s\\S]*?\\[LAST SHOWN PROPERTIES CONTEXT - END\\]/g, '').trim() || 'I apologize, I had a technical issue. Please try again.';\nconst cr = md.criteria || {}; const cl = md.currentLead || {}; const lc = md.leadCapture || {};\nfunction calcScore(c, name, phone, email, action, time) { let s = 0; if (c.intent) s += 10; if (c.city) s += 10; if (c.budget_max) s += 10; if (c.bedrooms_min != null) s += 5; if (c.timeline) s += 10; if (name && (phone || email)) s += 30; if (action && action !== 'general_question') s += 15; if (time) s += 10; return Math.min(s, 100); }\nconst ls = calcScore(cr, lc.name, lc.phone, lc.email, lc.requested_action, lc.preferred_date_time); const lt = ls >= 70 ? 'hot' : ls >= 40 ? 'warm' : 'cold';\nconst lead = { intent: cr.intent || cl.intent || null, city: cr.city || cl.city || null, budget: cr.budget_max || cl.budget || null, bedrooms: cr.bedrooms_min != null ? cr.bedrooms_min : (cl.bedrooms != null ? cl.bedrooms : null), timeline: cr.timeline || cl.timeline || null, lead_score: ls, lead_tier: lt };\nlet finalCaptureStatus = lc.capture_status; let finalSaveStatus = lc.save_status; if (hasBeenSaved) { finalSaveStatus = 'saved'; finalCaptureStatus = 'notified'; }\nconst lead_capture = { name: lc.name, phone: lc.phone, email: lc.email, requested_action: lc.requested_action, selected_property_id: lc.selected_property_id, selected_property_title: lc.selected_property_title || (md.properties && md.properties.length > 0 ? md.properties[0].title : null), preferred_date_time: lc.preferred_date_time, capture_status: finalCaptureStatus, save_status: finalSaveStatus };\nconst ts = new Date().toISOString(); const evts = [];\nif (cr.intent) evts.push({ type: 'intent_detected', label: 'Intent detected: ' + cr.intent.toUpperCase(), timestamp: ts });\nif (cr.city) evts.push({ type: 'lead_updated', label: 'City qualified: ' + cr.city, timestamp: ts });\nif (lc.requested_action === 'schedule_viewing') evts.push({ type: 'viewing_requested', label: 'Viewing request received', timestamp: ts });\nif (lc.name && (lc.phone || lc.email)) evts.push({ type: 'contact_captured', label: 'Contact captured for ' + lc.name, timestamp: ts });\nif (hasBeenSaved) { evts.push({ type: 'lead_saved', label: 'Lead details logged in Google Sheets (' + ((md.clientConfig && md.clientConfig.leadsSheet) || 'leads') + ')', timestamp: ts }); evts.push({ type: 'sales_alert_sent', label: 'Hot lead Telegram notification sent to ' + ((md.clientConfig && md.clientConfig.companyName) || 'sales'), timestamp: ts }); }\nevts.push({ type: 'claude_response', label: ((md.clientConfig && md.clientConfig.assistantName) || 'Sofia') + ' response generated via OpenAI GPT-5.5', timestamp: ts });\nreturn { session_id: md.sessionId || 'unknown', timestamp: md.timestamp || ts, reply: reply, lead: lead, lead_capture: lead_capture, properties: Array.isArray(md.properties) ? md.properties : [], system_events: evts };"
      }
    },
    {
      "id": "re-n3-017",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3200,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\n\nconst clientConfig = {\n  clientId: 'godubai',\n  propertiesSheet: 'godubai_properties',\n  leadsSheet: 'godubai_leads',\n  companyName: 'GoDubai Portal',\n  assistantName: 'Sofia',\n  websiteUrl: 'https://www.godubai.estate/',\n  market: 'Dubai & UAE',\n  serviceAreas: ['Dubai', 'UAE', 'Business Bay', 'Dubai South', 'Dubai Design District (D3)', 'Jumeirah Village Circle (JVC)', 'Dubailand', 'Yas Island'],\n  companyStrengths: [\n    'verified Dubai and UAE off-plan project listings',\n    'personalized Dubai investment plan flow',\n    'support for brokers, investors, and property buyers',\n    'human-verified exclusive real estate leads for brokers',\n    'fast support and sales follow-up'\n  ],\n  telegramChatId: ''\n};\n\nreturn Object.assign({}, d, {\n  clientId: 'godubai',\n  clientConfig: clientConfig\n});"
      },
      "id": "resolve-client-config",
      "name": "Resolve Client Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Variables": {
      "main": [
        [
          {
            "node": "Resolve Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extraction Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Extract Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extraction": {
      "main": [
        [
          {
            "node": "IF Should Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Search": {
      "main": [
        [
          {
            "node": "Google Sheets Get Properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Messages No Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Get Properties": {
      "main": [
        [
          {
            "node": "Filter Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Properties": {
      "main": [
        [
          {
            "node": "Build Messages With Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages With Properties": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages No Search": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "OpenAI Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Save Lead": {
      "main": [
        [
          {
            "node": "Google Sheets Append Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assemble Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Append Lead": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Assemble Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final JSON": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Client Config": {
      "main": [
        [
          {
            "node": "Build Extraction Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract Criteria": {
      "main": [
        [
          {
            "node": "Parse Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Reply": {
      "main": [
        [
          {
            "node": "IF Should Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "re-demo-m3-v1",
  "meta": {
    "templateCreatedBy": "Real Estate AI Demo - Milestone 3",
    "instanceId": "re-ai-demo"
  },
  "tags": [
    {
      "name": "real-estate-ai-agent"
    },
    {
      "name": "multi-client-template"
    }
  ]
}
